body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
}

#game-container {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    width: 800px;
    text-align: center;
}

h1 {
    font-family: "Rubik Moonrocks";
    margin-bottom: 20px;
    color: #007ed7; 
}

#question {
    font-family: "Irish Grover";
    font-size: 18px;
    margin-bottom: 20px;
}

#missionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

}

#missionButton button {
    font-family: "Irish Grover";
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #6a6a6a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.5s;
}

#missionButton button:hover {
    transform: scale(1.2);
}

.gold {
    color: gold;
    font-weight: bold;
}

#missionButton #redMission {
    background-color: #cb0000;
}

#missionButton #blueMission {
    background-color: #1d54cb;
}